.App {
  text-align: center;
}


.User {
    position:fixed;
    width: 25%;
    height: 100%;
    background-image: url("/src/photos/1.jpg");
    background-size: cover;
    display:flex;
    justify-content: left;
}

.Meme {
    position:fixed;
    width: 100%;
    height: 100%;
    background-image: url("/src/photos/1.jpg");
    background-size: cover;
    display:flex;
    justify-content: left;
}



