.Tilt {
    width: 600px;
    height: auto;
    z-index: 0;
}

.text{
    display: inline-table;
}

.Uploaded {
    width: 600px;
    height: auto;
    z-index: 0;
}

#memeText:hover {
    cursor:pointer;
}