.Tilt {
    width: 600px;
    height: auto;
    z-index: 0;
}

.text{
    display: inline-table;
}

.Uploaded {
    width: 600px;
    height: auto;
    z-index: 0;
    
    position:center;
}

#memeText, memeScore {
    display: inline-block;
    float:left;
    position:center;
}

#memeText:hover, #memeScore:hover {
    cursor:pointer;
}