.UploadBox {
    background-image:
radial-gradient(closest-side, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%),
radial-gradient(closest-side, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%);
    background-size: 110px 110px;
    background-color: #C8D3A7;
    background-position: 0 0, 55px 55px;
}

.SearchBox {
    background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
    linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
    linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
    background-size: 25px 25px;
}

.InputBoxes {
    float: right;
    top: 0px;
}

.links {
    float:left;
    top: 0px;
}

a {
    color: black;
}

a:hover{
    text-decoration: none;
    color:cadetblue;
    cursor:pointer;
}

.navbar{
    width: 100%; /* Try setting this to 400px or something */
    display: table;
}

.navLinks {
    display: table-cell;
}

.navLinks:hover {
    color:cadetblue;
    cursor:pointer;
}

.dropdownList {
    position: fixed;
    z-index: 10;
    background-color: white;
}

.dropdown {
    float: left;
    position: relative;
}

.dropdown:hover {
    cursor:pointer;
}