.CommentBox{
    background-color:white;
}

.commentMenu{
    background-color:white;
    display: flex; 
    justify-content:space-between;
}

.Upvote {
    background-image: url("favicon.ico");
    background-repeat: no-repeat;
    background-position: right;
    font-size: small;
}

.Upvote:hover{
    cursor:pointer;
}

.comment{
}
.commentContainer {
    text-align: left;
}

.btn {
    z-index: 2;
    font-size: small;
}

.btn:hover {
    color:darkseagreen;
}


